<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ReportMonthResultGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ReportMonthResultGenerator.Properties.Settings.DiogenConnectionString" connectionString="Data Source=cube2005;Initial Catalog=CHKComp;User ID=manager;Password=manager" providerName="System.Data.SqlClient" />
        <add name="ReportMonthResultGenerator.Properties.Settings.BtestConnectionString" connectionString="Data Source=192.168.254.172;Initial Catalog=Btest;User ID=manager;Password=manager" providerName="System.Data.SqlClient" />
        <add name="ReportMonthResultGenerator.Properties.Settings.CHKCompConnectionString" connectionString="Data Source=cube2005;Initial Catalog=CHKComp;Persist Security Info=True;User ID=manager;Password=manager" providerName="System.Data.SqlClient" />
        <add name="ReportMonthResultGenerator.Properties.Settings.BtestConnectionString1" connectionString="Data Source=192.168.254.172;Initial Catalog=Btest;User ID=manager;Password=manager" providerName="System.Data.SqlClient" />
        <add name="ReportMonthResultGenerator.Properties.Settings.VoitingConnectionString" connectionString="Data Source=s2010;Initial Catalog=Voiting;User ID=quasiadm;Password=Fil123fil123" providerName="System.Data.SqlClient" />
        <add name="ReportMonthResultGenerator.Properties.Settings.DiogenConnectionString1" connectionString="Data Source=s2010;Initial Catalog=Diogen;User ID=quasiadm;Password=Fil123fil123" providerName="System.Data.SqlClient" />
        <add name="ReportMonthResultGenerator.Properties.Settings.ParserOutConnectionString" connectionString="Data Source=s2010;Initial Catalog=ParserOut;User ID=quasiadm;Password=Fil123fil123" providerName="System.Data.SqlClient" />
        <add name="ReportMonthResultGenerator.Properties.Settings.CFCInStoreDBConnectionString" connectionString="Data Source=NEWSQUARE1\SQLEXPRESS;Initial Catalog=CFCInStoreDB;User ID=sa" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="XrepSoap" />
                <binding name="Ges3ServicesObj" sendTimeout="00:15:00" maxReceivedMessageSize="1000000000" />
                <binding name="Ges3ServicesObj1" sendTimeout="00:15:00" maxReceivedMessageSize="1000000000" />
                <binding name="StaffEmployeeParametersObj" maxReceivedMessageSize="10000000" />
                <binding name="StaffEmployeeParametersObj1" maxReceivedMessageSize="10000000" />
                <binding name="Ges3ServicesUTF8Obj" sendTimeout="00:15:00" maxReceivedMessageSize="1000000000" />
                <binding name="StaffEmployeeParametersObj2" />
                <binding name="SrvOrderTimes2Soap" />
                <binding name="StaffEmployeeParametersObj3" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://vfiliasesb0:2580/process/Ges3ServicesProc" binding="basicHttpBinding" bindingConfiguration="Ges3ServicesObj" contract="TimeOfPrep.Ges3ServicesObj" name="Ges3ServicesObj" />
            <endpoint address="http://vfiliasesb0:2580/process/StaffEmployeeParametersProc" binding="basicHttpBinding" bindingConfiguration="StaffEmployeeParametersObj1" contract="StaffEmplSal.StaffEmployeeParametersObj" name="StaffEmployeeParametersObj1" />
            <endpoint address="http://vfiliasesb0:2580/process/StaffEmployeeParametersProc" binding="basicHttpBinding" bindingConfiguration="StaffEmployeeParametersObj" contract="StaffEmpl.StaffEmployeeParametersObj" name="StaffEmployeeParametersObj" />
            <endpoint address="http://vfiliasesb0:2580/process/StaffEmployeeParametersProc" binding="basicHttpBinding" bindingConfiguration="StaffEmployeeParametersObj2" contract="Staff.StaffEmployeeParametersObj" name="StaffEmployeeParametersObj2" />
            <endpoint address="http://s2010:3131/SrvOrderTimes2.asmx" binding="basicHttpBinding" bindingConfiguration="SrvOrderTimes2Soap" contract="SrvOrderTimes.SrvOrderTimes2Soap" name="SrvOrderTimes2Soap" />
            <endpoint address="http://app:8000/process/process" binding="basicHttpBinding" bindingConfiguration="Ges3ServicesObj1" contract="Ges3.Ges3ServicesObj" name="Ges3ServicesObj1" />
            <endpoint address="http://app:8000/process/process" binding="basicHttpBinding" bindingConfiguration="Ges3ServicesUTF8Obj" contract="WebSrvSpisanie.Ges3ServicesUTF8Obj" name="Ges3ServicesUTF8Obj" />
            <endpoint address="http://app:8000/process/process" binding="basicHttpBinding" bindingConfiguration="StaffEmployeeParametersObj3" contract="StaffEmployeeParameters.StaffEmployeeParametersObj" name="StaffEmployeeParametersObj3" />
            <endpoint address="http://s2010:3130/Xrep.asmx" binding="basicHttpBinding" bindingConfiguration="XrepSoap" contract="S2010.XrepSoap" name="XrepSoap" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <ReportMonthResultGenerator.Properties.Settings>
            <setting name="ReportMonthResultGenerator_vfiliasut8_ExchangePeskovFotoGallery" serializeAs="String">
                <value>http://vfiliasut8/ut8/ws/ExchangePeskovFotoGallery.1cws</value>
            </setting>
            <setting name="ReportMonthResultGenerator_vfiliaszar8_Employees" serializeAs="String">
                <value>http://vfiliaszar8/zarp8/ws/emp.1cws</value>
            </setting>
        </ReportMonthResultGenerator.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
